@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url('./assets/image/background/snow.jpg');
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.mat-radio-button .mat-radio-outer-circle {
    border-color: #e6e6e6;
}