.container {
    width: 345px;
    text-align: center;
}

.title {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 7px;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    text-shadow: 4px 1px 2px rgb(211, 211, 211);
    color: rgb(56, 56, 56);
}

.block-close {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: -17px;
    margin-left: 15px;
}

.close {
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.block-close :hover {
    color: #9e2222;
}

.material-icons {
    color: #f83a3a;
    line-height: 18px;
    font-size: 15px;
}