.container {
    display: flex;
    width: 100%;
    min-height: 600px;
    background-image: url('../../../assets/image/background/hockey.jpg');
    background-size: 100% 100%;
}

.section {
    width: 100%;
    height: 70px;
    position: absolute;
}

.block-radio-button {
    width: 50%;
    margin: 0px auto;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 1px;
}

.margin {
    width: 420px;
    margin: 0px auto;
    padding: 0px 10px;
}

label {
    line-height: 60px;
    font-size: 13px;
}

.radio-button {
    margin-left: 25px;
    font-size: 12px;
}

.block-canvas {
    position: relative;
    margin: 75px auto;
}

canvas {
    border: 8px solid black;
    border-radius: 10px;
    background: rgba(113, 206, 239, 1);
    background: radial-gradient(ellipse at center, rgba(113, 206, 239, 1) 0%, rgba(113, 206, 239, 1) 34%, rgba(33, 180, 226, 1) 73%, rgba(33, 180, 226, 1) 100%);
}