<div class="container">
    <section class="section">
        <div class="block-radio-button">
            <div class="margin">
                <label class="label">{{ 'FieldSizes.label' | translate }}:</label>
                <mat-radio-group color="primary">
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.small" [value]="fieldSizesEnum.small" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.small' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.medium" [value]="fieldSizesEnum.medium" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.medium' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.large" [value]="fieldSizesEnum.large" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.large' | translate }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </section>
    <div class="block-canvas">
        <canvas #canvas width="{{field.width}}" height="{{field.height}}">
            {{ "Canvas.message" | translate }}
        </canvas>
    </div>
</div>