<div class="container">
    <section class="section">
        <div class="block-radio-button">
            <div class="margin">
                <label class="label">{{ 'FieldSizes.label' | translate }}:</label>
                <mat-radio-group color="primary">
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.small" [value]="fieldSizesEnum.small" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.small' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.medium" [value]="fieldSizesEnum.medium" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.medium' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="radio-button" [checked]="gameSettings.fieldSize === fieldSizesEnum.large" [value]="fieldSizesEnum.large" (change)="getFieldSize($event)">
                        {{ 'FieldSizes.large' | translate }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </section>
    <div class="flex">
        <div [ngClass]="{ hidden : !isCheckedHelps }" class="block-help left-help">
            <div class="arrow arrow-top">
                <i class="fa fa-long-arrow-up fa-4x"></i>
                <p class="message">W</p>
            </div>
            <div class="arrow arrow-bottom">
                <p class="message">S</p>
                <i class="fa fa-long-arrow-down fa-4x"></i>
            </div>
        </div>
        <div class="block-canvas">
            <canvas #canvas [@redFieldShadow]="animateForGateRight ? 'start' : 'end'" [@greenFieldShadow]="animateForGateLeft ? 'start' : 'end'" width="{{field.width}}" height="{{field.height}}">
                {{ "Canvas.message" | translate }}
            </canvas>
            <div [ngClass]="{ hidden : !startGame }">
                <div [ngClass]="{ hidden : isPause }" class="block-pause">
                    <p>{{ 'BlockPause' | translate }}</p>
                </div>
            </div>
            <div [ngClass]="{ hidden : !isCheckedHelps }" class="help-bottom">
                {{ "Helps.bottomHelp" | translate }}
            </div>
        </div>
        <div class="block-empty"></div>
    </div>
    <div [ngClass]="{ overlayBackdrop : !isPause && startGame }"></div>
</div>