<div class="container">
    <ul>
        <li>
            {{ "HelpSheet.GateUp" | translate }}: {{ "HelpSheet.KeyPress" | translate }}
            <span>&laquo;{{ "HelpSheet.KeyW" | translate }}&raquo;</span>
        </li>
        <li>
            {{ "HelpSheet.GateDown" | translate }}: {{ "HelpSheet.KeyPress" | translate }}
            <span>&laquo;{{ "HelpSheet.KeyS" | translate }}&raquo;</span>
        </li>
        <li>
            {{ "HelpSheet.StartPauseMessage" | translate }}
            <span>&laquo;{{ "HelpSheet.StartPause" | translate }}&raquo;</span> {{ "HelpSheet.SpaceMessage" | translate }}
            <span>&laquo;{{ "HelpSheet.keySpace" | translate }}&raquo;</span>
        </li>
    </ul>
    <hr>
    <div class="block-close">
        <p mat-dialog-close class="close">
            <i class="material-icons">close</i>
        </p>
    </div>
</div>