.block-close {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: flex-end;
}

.close {
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.material-icons {
    color: #f83a3a;
    line-height: 18px;
    font-size: 15px;
}

.block-close :hover {
    color: #9e2222;
}

p {
    padding-bottom: 20px;
}

span:first-child {
    padding-right: 5px;
}

.message {
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}