<div>
  <ul>
    <li>
      {{ "HelpSheet.GateUp" | translate }}: {{ "HelpSheet.KeyPress" | translate }}
      <span>&laquo;{{ "HelpSheet.KeyW" | translate }}&raquo;</span>
    </li>
    <li>
      {{ "HelpSheet.GateDown" | translate }}: {{ "HelpSheet.KeyPress" | translate }}
      <span>&laquo;{{ "HelpSheet.KeyS" | translate }}&raquo;</span>
    </li>
    <li>
      {{ "HelpSheet.StartPauseMessage" | translate }}
      <span>&laquo;{{ "HelpSheet.StartPause" | translate }}&raquo;</span>
      {{ "HelpSheet.SpaceMessage" | translate }}
      <span>&laquo;{{ "HelpSheet.keySpace" | translate }}&raquo;</span>
    </li>
  </ul>
  <div class="block-btn">
    <button mat-raised-button color="primary" class="btn" mat-dialog-close>{{ "HelpSheet.BtnClose" | translate }}</button>
  </div>
</div>
