.flex {
    display: flex;
    justify-content: center;
    height: 25px;
}

.title {
    margin: 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
    line-height: 21px;
}

span {
    padding-right: 5px;
}