<footer class="footer">
    <div class="flex">
        <p class="title">
            <span>{{ "Footer.Created" | translate }}:</span>
            <span>{{ "Footer.DeveloperName" | translate }}</span>
        </p>
        <p class="title">
            <span>{{ "Footer.ContactInfo" | translate }}:</span>
            <span>{{ developerEmail }}</span>
        </p>
        <p class="title">
            <a href="https://github.com/Skye14/AirHockey/tree/master/AirHockey" target="_blank">
                <img src="./assets/image/icon/icon_github.png" alt="github">
            </a>
        </p>
    </div>
</footer>